<launch>
	<!-- Road Occupancy Processor が配信しているトピック名 -->
	<arg name="occupancy_topic_src" default="gridmap_road_status" /> <!-- GridMap Road Occupancy Processor source topic -->
	<!-- Road Occupancy Processor の GridMap クラスメッセージにおけるレイヤー名 -->
	<arg name="occupancy_layer_name" default="road_status" /> <!-- Name of the layer in the GridMap containing road status-->
	<!-- Occlusion が配信する GridMapクラスメッセージにおけるレイヤー名 -->
	<arg name="output_layer_name" default="occlusion" /> <!-- NAme of the output layer in the GridMap-->
	<!-- Value to fill in the occupancy grid when a cell is UNKNOWN -->
	<arg name="road_unknown_value" default="128" />     
	<!-- Value to fill in the occupancy grid when a cell is FREE-->
	<arg name="road_free_value" default="75" />         
	<!-- Value to fill in the occupancy grid when a cell is OCCUPIED-->
	<arg name="road_occupied_value" default="0" />      
	<!-- Value to fill in the occupancy grid when a cell is NO ROAD-->
	<arg name="no_road_value" default="255" />  
	<!-- 地面からカメラの取り付け位置まで -->
	<arg name="camera_height" default="1.5" />	
	
	<!-- occlusionパッケージ　：　実行ファイル名occlusion　：　ノード名occlusion　：　 -->
	<node name="occlusion" pkg="occlusion" type="occlusion" output="screen">
		<param name="occupancy_topic_src" value="$(arg occupancy_topic_src)" />
		<param name="occupancy_layer_name" value="$(arg occupancy_layer_name)" />
		<param name="output_layer_name" value="$(arg output_layer_name)" />
		<param name="road_unknown_value" value="$(arg road_unknown_value)" />
		<param name="road_free_value" value="$(arg road_free_value)" />
		<param name="road_occupied_value" value="$(arg road_occupied_value)" />
		<param name="no_road_value" value="$(arg no_road_value)" />
		<param name="camera_height" value="$(arg camera_height)" />
	</node>
</launch>